$palettes: (
    white: (
        base:   #fff
    ),
    black: (
        base:  #202020
    ),
    gray: (
      base: #4d4d4d
    ),
    orange: (
      base: #F7A731,
      dark: #f9a81a
    ),
    teal: (
      base: #3abbb9,
      dark: #0d8a85
    )
);
