.Content {

  &--primary {
    background: palette(gray);
    color: palette(white);
  }

  &--secondary {
    background: url('../images/stripes-white.png');
  }

  &-intro {
    font-size: 1.5em;
    p:first-child {
      margin-top: 0;
    }
  }

  .container {
    @include outer-container;
    @include pad;
  }

  &-columns {
    @include clearfix;
  }

  &-column {

    @media (min-width: 900px) {
      @include span-columns(6);
      @include omega(2n);
    }

    &--alt {

      &:first-child {
        @media (min-width: 767px) {
          @include span-columns(8);
          padding-right: 5em;
        }

        p:first-child {
          font-size: 1.5em;
          margin-top: 0;
        }

      }

      &:last-child {
        @media (min-width: 767px) {
          @include span-columns(4);
        }
      }

      p:not(:first-child) {
        margin-left: 1em;
        @media (min-width: 767px) {
          margin-left: 3em;
        }
      }

    }

    &--vertical-center {
      @media (min-width: 767px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
      }
    }

    &--full {
      &:first-child {
        @include span-columns(12);
        padding-right: 0;
      }
      
    }

  }

}
