.Footer {
  background: palette(teal) url('../images/stripes-green.png');
  color: palette(white);

  @media (min-width: 767px) {
    p {
      font-size: 1.3em;
    }
  }

  a {
    color: palette(white);
    font-weight: 700;
    text-decoration: none;
    word-wrap: break-word;
  }

  .container {
    @include outer-container;
    @include pad;
  }

  &-title {
    margin-top: 0;
  }

}
