.Process {
  @include clearfix;
  @include fill-parent();
  @include row(table);

  height: 50vh;

  &-item {
    @include pad;
    background: rgba(palette(gray),0.55);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: block;

    @media (min-width: 767px) {
      @include span-columns(3);
      @include reset-display;
    }

    &:nth-child(2n) {
      background: rgba(palette(gray),0.65);
    }

    &:nth-child(3n) {
      background: rgba(palette(gray),0.55);
    }

    &:nth-child(4n) {
      background: rgba(palette(gray),0.7);
    }

    &:hover {

      background: rgba(palette(teal),0.75);

      .Process-text {
        opacity: 1;
      }

    }
  }

  &-title {
    color: palette(white);
    text-transform: uppercase;
  }

  &-text {
    color: palette(white);
    opacity: 0;
  }

}
