.Nav {

  ul {
    @include clearfix;
    list-style: none;
    padding-left: 0;
  }

  li {
    float: left;
    margin-left: 2em;

    &:hover,
    &.active {
      a {
        color: palette(orange);
      }
    }
  }

  a {
    color: palette(teal,dark);
    text-decoration: none;
  }

}
